@keyframes heartbeat {
	0% {
		transform: scale(0.9)
	}
	12% {
		transform: scale(1.2)
	}
	24% {
		transform: scale(0.9)
	}
	36% {
		transform: scale(1)
	}
	100% {
		transform: scale(1)
	}
}

.heart {
	margin: 30px auto;
	position: relative;
	width: 200px;
	height: 180px;
	opacity: .65;
	-webkit-animation: heartbeat ease-in-out 0.8s infinite alternate;
  -ms-animation: heartbeat ease-in-out 0.8s infinite alternate;
  animation: heartbeat ease-in-out 0.8s infinite alternate;
  display: inline-block;
}

.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 100px;
	top: 0;
	width: 100px;
	height: 160px;
	background: rgb(255, 0, 0);
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}