@font-face {
	font-family: 'DIN';
	src: url('../assets/fonts/digital-7.ttf') format('truetype');
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #0f111f;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.container .content {
	padding-top: 240px;
	text-align: center;
}

.copyright {
	font-size: 24px;
	opacity: .8;
}

.copyright .desc {
	font-size: 14px;
}